RESULTS:
<% if @game.winner == "Draw" %>
 <h3> it was a draw </h3>
 <% elsif @game.winner.name == "computer" %>
 <h3> You lost, the computer won with <%= @game.winner.pick %></h3>
<% else %>
<h3> You won, with <%= @game.winner.pick %> </h3>
<%end%>

<form>
<input type="submit" value="play again">
</form>
